<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- reporting -->
  <system.diagnostics>
    <trace autoflush="true"/>
    <switches>
      <add name="TraceLevelSwitch" value="Warning"/>
    </switches>
    <sources>
      <source name="Reporting" switchName="TraceLevelSwitch">
        <listeners>
          <clear/>
          <add name="ReportingLogTxt"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--By default logs folder is C:\ProgramData\Kofax\TotalAgility\Reporting\Log-->
      <add name="ReportingLogTxt" type="Kofax.Reporting.Common.Logging.TenantBasedTraceListener, Kofax.Reporting.Common" initializeData="C:\ProgramData\Kofax\TotalAgility\Reporting\Log\WorkerRole.log" maxFileSizeKB="5120" maxFilesAmount="10">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>