<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- web -->
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>-->
    </sources>
    <trace autoflush="true">
      <listeners>
        <!--<add name="ThinClientServer" traceOutputOptions="DateTime,ThreadId" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\ThinClientServerLog.txt">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
        </add>-->
        <!--to enable TA Logging specify a trace listener with KTALog as name-->
        <!--<add name="KTALog" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\KTALog.txt">
        </add>-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>