<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- core worker -->
  <!--to enable TA Logging specify a trace listener with KTALog as name-->
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="KTALog" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\KTALog.txt">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>